@charset "UTF-8";
@font-face {
  font-family: "Sansation_Regular";
  src: url("../fonts/Sansation_Regular.ttf"); }

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.otf") format("otf"); }

@font-face {
  font-family: "NEOTERICc - Bold DEMO VERSION";
  src: url("../fonts/NEOTERICc - Bold DEMO VERSION.ttf"); }

@font-face {
  font-family: "HelveticaLTStd-LightCond";
  src: url("../fonts/HelveticaLTStd-LightCond.otf"); }

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 1200px) {
    .container .container {
      max-width: 970px; } }
  @media (max-width: 992px) {
    .container .container {
      max-width: 750px; } }
  @media (max-width: 767px) {
    .container .container {
      max-width: none; } }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Sansation_Regular";
  font-size: 18px;
  color: #fff; }

*,
*:before,
*:after {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0 0 4px; }

.main-wrapper {
  min-height: 100%;
  overflow: hidden; }

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: flex; }

/* Слайд */
.slick-slide:focus {
  outline: none; }

.intro-slider {
  position: relative; }

.intro-slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: none;
  border: 0;
  cursor: pointer; }
  .intro-slider .slick-arrow:before {
    content: " ";
    display: block;
    border: 1px solid #7e759d;
    width: 30px;
    height: 35px;
    position: absolute;
    top: -7px;
    left: -5px; }
  .intro-slider .slick-arrow:focus {
    outline: none; }
  @media (max-width: 767px) {
    .intro-slider .slick-arrow {
      top: 70%; } }
  @media (max-width: 475px) {
    .intro-slider .slick-arrow {
      top: 82%; } }

.intro-slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../images/check/left-arrow (1).svg") 0 0/100% repeat; }
  @media (max-width: 767px) {
    .intro-slider .slick-arrow.slick-prev {
      left: 10%; } }

.intro-slider .slick-arrow.slick-next {
  right: 0;
  background: url("../images/check/next.svg") 0 0/100% repeat; }
  @media (max-width: 767px) {
    .intro-slider .slick-arrow.slick-next {
      right: 10%; } }

.services__slider {
  position: relative; }

.services__slider .slick-arrow {
  position: absolute;
  bottom: 0;
  z-index: 5;
  font-size: 0;
  border: 0;
  cursor: pointer;
  width: 25px;
  height: 25px; }
  .services__slider .slick-arrow:focus {
    outline: none; }

.services__slider .slick-arrow.slick-prev {
  right: 28px;
  background: url("../images/check/left-arrow-copy.png") 0 0/100% repeat; }

.services__slider .slick-arrow.slick-next {
  right: 0;
  background: url("../images/check/left-arrow-copy1.png") 0 0/100% repeat; }

.feedback__slider {
  position: relative; }

.feedback__slider .slick-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 5;
  width: 25px;
  height: 25px;
  font-size: 0;
  background: none;
  border: 0;
  cursor: pointer; }
  .feedback__slider .slick-arrow:focus {
    outline: none; }
  @media (max-width: 1180px) {
    .feedback__slider .slick-arrow {
      top: 65%; } }

.feedback__slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../images/check/left-arrow (1).svg") 0 0/100% repeat; }

.feedback__slider .slick-arrow.slick-next {
  right: 0;
  background: url("../images/check/next.svg") 0 0/100% repeat; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.section-header {
  text-align: center;
  background: #373737;
  padding: 50px 0;
  position: relative; }
  .section-header_clients {
    background: #fefefe; }
    .section-header_clients:after {
      background: #656464 !important; }
    .section-header_clients:before {
      background: #656464 !important; }
  .section-header:before {
    content: " ";
    display: block;
    width: 75px;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 59px;
    right: 395px;
    z-index: 2; }
  .section-header:after {
    content: " ";
    display: block;
    width: 75px;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 59px;
    left: 395px;
    z-index: 2; }
  .section-header__title {
    font-size: 40px;
    color: #f7f7f7;
    text-transform: uppercase;
    font-weight: normal;
    position: relative; }
    .section-header__title:before {
      content: " ";
      display: block;
      width: 305px;
      height: 1px;
      background: #e4e4e4;
      position: absolute;
      bottom: 10px;
      right: 165px; }
    .section-header__title:after {
      content: " ";
      display: block;
      width: 305px;
      height: 1px;
      background: #e4e4e4;
      position: absolute;
      bottom: 10px;
      left: 165px; }
    .section-header__title_clients {
      color: #656464;
      font-weight: 700; }
      .section-header__title_clients:after {
        background: #656464 !important; }
      .section-header__title_clients:before {
        background: #656464 !important; }
  @media (max-width: 1320px) {
    .section-header:before {
      right: 310px; }
    .section-header:after {
      left: 310px; }
    .section-header__title:before {
      right: 80px; }
    .section-header__title:after {
      left: 80px; } }
  @media (max-width: 1140px) {
    .section-header:before {
      right: 189px; }
    .section-header:after {
      left: 189px; }
    .section-header__title:before {
      width: 230px;
      right: 35px; }
    .section-header__title:after {
      width: 230px;
      left: 35px; } }
  @media (max-width: 920px) {
    .section-header:before {
      width: 50px;
      right: 119px; }
    .section-header:after {
      width: 50px;
      left: 119px; }
    .section-header__title {
      font-size: 38px; }
      .section-header__title:before {
        width: 155px;
        right: 15px; }
      .section-header__title:after {
        width: 155px;
        left: 15px; } }
  @media (max-width: 690px) {
    .section-header {
      padding: 30px 0; }
      .section-header:before {
        display: none; }
      .section-header:after {
        display: none; }
      .section-header__title {
        font-size: 38px; }
        .section-header__title:before {
          display: none; }
        .section-header__title:after {
          display: none; } }

.header-toggle {
  display: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 7px 2px; }
  .header-toggle:focus {
    outline: none; }
  .header-toggle__item {
    width: 30px;
    height: 3px;
    background: #fff;
    display: block;
    position: relative;
    font-size: 0;
    color: transparent; }
    .header-toggle__item:before, .header-toggle__item:after {
      content: " ";
      display: block;
      width: 30px;
      height: 100%;
      background: #fff;
      transition: transform .2s linear;
      position: absolute;
      z-index: 2; }
    .header-toggle__item:before {
      top: -8px; }
    .header-toggle__item:after {
      bottom: -8px; }
  .header-toggle.active .header-toggle__item {
    background: none; }
    .header-toggle.active .header-toggle__item:before {
      transform-origin: left top;
      transform: rotate(45deg) translateX(-3px); }
    .header-toggle.active .header-toggle__item:after {
      transform-origin: left bottom;
      transform: rotate(-45deg) translateX(-3px); }
  @media (max-width: 767px) {
    .header-toggle {
      display: block; } }

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 25px;
  border-bottom: 1px solid #70678b; }
  .header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    transform: translate3d(0, 0, 0);
    border-bottom: 0; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase; }
    .header__logo .logo span {
      color: #da2346; }
  .header__nav {
    display: block; }
  .header-menu.active {
    display: block; }
  .header-menu-list {
    display: flex; }
    .header-menu-list__item + .header-menu-list__item {
      margin-left: 65px; }
    .header-menu-list__link {
      color: #fff;
      font-size: 20px;
      transition: color .2s linear; }
      .header-menu-list__link:hover {
        color: #097e89; }
      .header-menu-list__link_active {
        color: #097e89; }
  .header-social {
    display: flex;
    align-items: center; }
    .header-social__item {
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #645986;
      border-radius: 50%;
      background: transparent;
      transition: background .2s linear,border .2s linear; }
      .header-social__item + .header-social__item {
        margin-left: 7px; }
      .header-social__item:hover {
        background: #da2346;
        border: 0; }
    .header-social__link {
      width: 15px;
      height: 15px;
      fill: #c4c0d0;
      transition: fill .2s linear; }
      .header-social__link:hover {
        fill: #097e89; }
  @media (max-width: 1220px) {
    .header-menu-list__item + .header-menu-list__item {
      margin-left: 45px; } }
  @media (max-width: 1175px) {
    .header-menu-list__item + .header-menu-list__item {
      margin-left: 30px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .header__inner {
      flex-direction: column; }
    .header-menu {
      margin: 15px 0; } }
  @media (max-width: 767px) {
    .header-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #da2346;
      width: 100%; }
      .header-menu-list {
        display: flex;
        flex-direction: column;
        padding-left: 40px; }
        .header-menu-list__item {
          margin-left: 0 !important;
          margin-top: 7px; }
          .header-menu-list__item:last-child {
            margin-bottom: 7px; }
    .header__logo .logo {
      font-size: 40px; } }
  @media (max-width: 475px) {
    .header {
      padding: 20px 0; }
      .header__logo .logo {
        font-size: 30px; } }

.intro {
  height: 100vh;
  background: url("../../images/intro/bg.png") no-repeat center center;
  background-size: cover;
  padding-top: 220px;
  min-height: 550px;
  position: relative; }
  .intro:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }
  .intro-slider {
    position: relative;
    z-index: 5; }
    .intro-slider__item {
      padding-top: 35px;
      text-align: center;
      width: 100%;
      max-width: 680px;
      margin: 0 auto;
      position: relative; }
      .intro-slider__item:before {
        content: " ";
        display: block;
        background: #675d83;
        width: 100%;
        height: 23px;
        position: absolute;
        top: -11%; }
    .intro-slider__title {
      font-size: 48px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 20px;
      line-height: 39px; }
      .intro-slider__title:after, .intro-slider__title:before {
        content: " ";
        display: block;
        background: #675d83;
        position: absolute;
        top: -11%;
        height: 100%;
        width: 1px; }
      .intro-slider__title:after {
        left: 0; }
      .intro-slider__title:before {
        right: 0; }
    .intro-slider__description {
      font-size: 11px;
      color: #cdcdce;
      line-height: 18px;
      margin-bottom: 35px; }
    .intro-slider__btn {
      position: relative; }
      .intro-slider__btn:after, .intro-slider__btn:before {
        content: " ";
        display: block;
        background: #4a4c4f;
        position: absolute;
        top: 40%;
        width: 245px;
        height: 1px; }
      .intro-slider__btn:after {
        left: 0; }
      .intro-slider__btn:before {
        right: 0; }
      .intro-slider__btn .intro-btn {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        padding: 9px 25px;
        border: 2px solid #fff;
        background: transparent;
        transition: background .2s linear,color .2s linear; }
        .intro-slider__btn .intro-btn:hover {
          background: #fff;
          color: #000; }
  @media screen and (min-width: 1024px) and (min-height: 1366px) {
    .intro {
      padding-top: 500px !important; } }
  @media screen and (min-width: 1024px) and (min-height: 768px) {
    .intro {
      padding-top: 300px; } }
  @media screen and (min-width: 768px) and (min-height: 1024px) {
    .intro {
      padding-top: 350px; } }
  @media screen and (min-width: 375px) and (min-height: 812px) {
    .intro {
      padding-top: 300px; } }
  @media screen and (min-width: 411px) and (min-height: 823px) {
    .intro {
      padding-top: 300px; } }
  @media (max-width: 720px) {
    .intro-slider__btn:before, .intro-slider__btn:after {
      width: 180px; } }
  @media (max-width: 575px) {
    .intro-slider__btn:before, .intro-slider__btn:after {
      width: 140px; } }
  @media (max-width: 590px) {
    .intro-slider__title {
      font-size: 38px; } }
  @media (max-width: 555px) {
    .intro-slider__title {
      line-height: 50px;
      margin-bottom: 10px; }
      .intro-slider__title:before, .intro-slider__title:after {
        display: none; }
    .intro-slider__item {
      padding: 0 10px 10px 10px; }
      .intro-slider__item:before, .intro-slider__item:after {
        display: none; }
    .intro-slider__btn:before, .intro-slider__btn:after {
      display: none; } }
  @media (max-width: 493px) {
    .intro-slider__description {
      line-height: 16px;
      margin-bottom: 25px; } }

.about__row {
  display: flex; }

.about__column {
  flex: 0 1 50%; }

.about__block {
  height: 100%;
  position: relative; }

.about__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.about-content {
  flex: 0 1 50%;
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 45px 70px 75px 75px; }
  .about-content__title {
    font-size: 24px;
    color: #252525;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 20px;
    position: relative;
    margin-bottom: 45px; }
    .about-content__title:before {
      content: " ";
      display: block;
      width: 125px;
      height: 2px;
      background: #252525;
      position: absolute;
      top: 34px;
      left: 0; }
    .about-content__title:after {
      content: " ";
      display: block;
      width: 440px;
      height: 1px;
      background: #252525;
      position: absolute;
      top: 35px;
      left: 0; }
  .about-content__text {
    font-size: 11px;
    color: #000000;
    font-family: "MyriadProRegular";
    line-height: 16px; }
    .about-content__text p {
      margin-bottom: 15px; }
  .about-content__btn {
    margin-top: 30px; }
    .about-content__btn .btn {
      display: inline-block;
      vertical-align: top;
      font-size: 10px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-family: "NEOTERICc - Bold DEMO VERSION";
      padding: 7px 27px;
      background: #05a0af;
      border-radius: 4px;
      transition: background .2s linear; }
      .about-content__btn .btn:hover {
        background: #09af05; }

@media (max-width: 1075px) {
  .about-content__title:after {
    width: 390px; } }

@media (max-width: 991px) {
  .about-content {
    padding: 30px 50px 30px 35px; }
    .about-content__title:after {
      width: 350px; } }

@media (max-width: 805px) {
  .about-content__title:after {
    width: 330px; } }

@media (max-width: 767px) {
  .about-content {
    padding: 40px 50px 30px 35px; }
  .about__row {
    flex-direction: column; }
  .about__column {
    padding-bottom: 30%; }
  .about__img {
    height: 229px; } }

@media (max-width: 720px) {
  .about-content {
    padding: 50px 50px 30px 35px; } }

@media (max-width: 660px) {
  .about-content {
    padding: 60px 50px 30px 35px; } }

@media (max-width: 618px) {
  .about-content {
    padding: 80px 50px 30px 35px; } }

@media (max-width: 550px) {
  .about-content {
    padding: 100px 50px 30px 35px; } }

@media (max-width: 480px) {
  .about-content {
    padding: 120px 50px 30px 35px; } }

@media (max-width: 480px) {
  .about-content {
    padding: 140px 50px 30px 35px; } }

@media (max-width: 370px) {
  .about-content {
    padding: 160px 50px 30px 35px; }
    .about-content__title:after {
      width: 270px; } }

.services__slider {
  display: flex; }

.services__column {
  flex: 0 1 33.33333%; }

.services-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 135px 15px !important;
  background: #3d3d3d;
  text-align: center;
  transition: background .2s linear; }
  .services-item:hover {
    background: #097e89; }
    .services-item:hover .services-item__iccon {
      fill: #fff; }
  .services-item__iccon {
    width: 120px;
    height: 80px;
    fill: #767676;
    transition: fill .2s linear; }
  .services-item__title {
    font-size: 24px;
    color: #f7f7f7;
    text-transform: uppercase;
    margin: 50px 0 15px;
    font-family: "MyriadProRegular"; }
  .services-item__text {
    width: 100%;
    max-width: 310px;
    margin: 0 auto;
    font-size: 14px;
    color: #f7f7f7;
    line-height: 18px; }
  .services-item__btn {
    margin-top: 25px; }
    .services-item__btn .btn {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
      color: #f7f7f7;
      text-align: center;
      text-transform: uppercase;
      padding: 10px 27px;
      background: #959595;
      border-radius: 4px;
      transition: transform .2s linear; }
      .services-item__btn .btn:hover {
        transform: translateY(-4px); }

@media (max-width: 991px) {
  .services-item__title {
    font-size: 21px; } }

@media (max-width: 767px) {
  .services__slider {
    flex-wrap: wrap; }
  .services__column {
    flex: 0 1 50%; }
  .services-item {
    padding: 55px 15px !important; }
    .services-item__title {
      margin: 25px 0 15px; } }

@media (max-width: 590px) {
  .services__column {
    flex: 0 1 100%; } }

.services-item {
  padding: 30px 15px; }

.feedback {
  background: #3d3d3d; }
  .feedback__slider {
    padding: 25px 15px 55px; }
  .feedback__item {
    display: flex;
    align-items: center; }
  .feedback__content {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    padding-right: 50px; }
  .feedback__text {
    font-size: 18px;
    color: #cdc8c8;
    line-height: 26px;
    text-align: center; }
    .feedback__text:after {
      content: " ";
      display: block;
      width: 60px;
      height: 2px;
      background: #cdc8c8;
      margin: 15px auto 40px; }
  .feedback__number {
    font-size: 14px;
    color: #cdc8c8;
    text-align: center; }
  .feedback-row {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px; }
    .feedback-row__column {
      flex: 0 1 65%; }
    .feedback-row__item {
      position: relative;
      padding: 0 8px 10px; }
    .feedback-row__img {
      height: 230px; }
      .feedback-row__img img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
    .feedback-row__footer {
      position: absolute;
      bottom: 20px;
      right: 24px;
      z-index: 2;
      display: flex;
      align-items: center; }
    .feedback-row__number {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      color: #272727;
      background: #fff;
      margin-right: 5px;
      max-width: 40px;
      height: 36px;
      padding: 0 15px; }
    .feedback-row__block {
      background: #fff;
      max-width: 135px;
      padding: 4px 55px 4px 4px; }
    .feedback-row__name {
      font-size: 12px;
      color: #272727; }
    .feedback-row__pos {
      font-size: 12px;
      color: #272727; }
  @media (max-width: 991px) {
    .feedback__item {
      flex-direction: column; }
    .feedback__content {
      margin-bottom: 35px;
      padding-right: 0; }
    .feedback-row__footer {
      bottom: 14px; } }
  @media (max-width: 744px) {
    .feedback-row {
      flex-direction: column; }
    .feedback__slider {
      padding: 25px 15px 25px; } }

.clients {
  background: #fff; }
  .clients-inner {
    padding: 0 0 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px; }
  .clients__column {
    flex: 0 1 25%;
    padding: 0 15px; }
  .clients-item {
    text-align: center; }
    .clients-item__img {
      height: 150px; }
      .clients-item__img img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
  @media (max-width: 991px) {
    .clients-inner {
      padding: 10px 0 50px; } }
  @media (max-width: 767px) {
    .clients-inner {
      padding: 10px 0 0px; }
    .clients-item {
      margin-bottom: 40px; }
      .clients-item__img_h {
        height: 70px; }
      .clients-item__img_hs {
        height: 45px; }
      .clients-item__img_hm {
        height: 70px; }
    .clients__column {
      flex: 0 1 50%; } }
  @media (max-width: 490px) {
    .clients__column {
      flex: 0 1 100%; }
    .clients-item {
      margin-bottom: 15px; }
      .clients-item__img {
        height: 100px; }
        .clients-item__img_h {
          height: 70px; }
        .clients-item__img_hs {
          height: 45px; }
        .clients-item__img_hm {
          height: 70px; } }

.quote {
  padding: 25px 0 50px;
  background: #097e89; }
  .quote__row {
    display: flex;
    justify-content: space-between; }
  .quote__content {
    width: 100%;
    max-width: 450px; }
  .quote__title {
    font-size: 30px;
    color: #fff;
    margin-bottom: 25px; }
  .quote__text {
    font-size: 12px;
    color: #fff;
    line-height: 20px; }
  .quote__contact {
    width: 100%;
    max-width: 500px;
    margin-top: 35px; }
  .quote-form {
    display: flex; }
    .quote-form__input {
      flex-grow: 1; }
      .quote-form__input .input {
        width: 100%;
        padding-left: 20px;
        font-size: 10px;
        color: #fff;
        background: transparent;
        height: 45px; }
        .quote-form__input .input_first {
          border: 1px solid rgba(132, 191, 196, 0.5);
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px; }
        .quote-form__input .input_secondary {
          border-top: 1px solid rgba(132, 191, 196, 0.5);
          border-bottom: 1px solid rgba(132, 191, 196, 0.5);
          border-left: 0;
          border-right: 0; }
        .quote-form__input .input::placeholder {
          color: #fff; }
        .quote-form__input .input:focus {
          outline: none; }
    .quote-form__btn .btn {
      height: 45px;
      display: inline-block;
      vertical-align: top;
      font-family: "MyriadProRegular";
      font-weight: 700;
      padding: 0 30px;
      text-align: center;
      font-size: 12px;
      color: #097e89;
      background: #fff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border: 0;
      cursor: pointer;
      transition: background .2s linear; }
      .quote-form__btn .btn:hover {
        background: #23ec31; }
      .quote-form__btn .btn:focus {
        outline: none; }
  @media (max-width: 991px) {
    .quote__content {
      padding-right: 40px; } }
  @media (max-width: 767px) {
    .quote__row {
      flex-direction: column; }
    .quote__contact {
      margin-top: 10px; } }
  @media (max-width: 470px) {
    .quote {
      padding: 25px 0; }
      .quote__title {
        font-size: 25px;
        margin-bottom: 10px; }
      .quote-form__btn .btn {
        padding: 0px 21px; } }

.footer {
  padding: 25px 0 40px;
  background: #474747; }
  .footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer__nav {
    display: flex;
    align-items: center; }
  .footer__column + .footer__column {
    margin-left: 60px; }
  .footer__title {
    font-size: 15px;
    color: #e5e5e5;
    font-family: "HelveticaLTStd-LightCond";
    font-weight: normal;
    text-transform: uppercase; }
    .footer__title:after {
      content: " ";
      display: block;
      width: 25px;
      height: 1px;
      background: #e5e5e5;
      margin: 5px 0 15px; }
  .footer-menu__item + .footer-menu__item {
    margin-top: 15px; }
  .footer-menu__link {
    font-size: 13px;
    color: #fff;
    font-family: "HelveticaLTStd-LightCond";
    transition: color .2s linear; }
    .footer-menu__link:hover {
      color: #ed3dd2; }
  .footer-form {
    display: flex;
    width: 100%;
    max-width: 340px;
    margin-bottom: 40px; }
    .footer-form__input {
      flex-grow: 1; }
      .footer-form__input .input {
        width: 100%;
        font-size: 15px;
        color: #4f4e4e;
        padding-left: 15px;
        height: 45px;
        font-family: "HelveticaLTStd-LightCond";
        background: #cccccc;
        border: 0; }
        .footer-form__input .input:focus {
          outline: none; }
        .footer-form__input .input::placeholder {
          color: #4f4e4e; }
    .footer-form__btn .btn {
      display: inline-block;
      vertical-align: top;
      border-top: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      border-left: 0;
      font-size: 17px;
      color: #fff;
      background: #0072bc;
      text-align: center;
      height: 45px;
      padding: 0 20px;
      cursor: pointer;
      transition: background .2s linear; }
      .footer-form__btn .btn:hover {
        background: #23ec31; }
      .footer-form__btn .btn:focus {
        outline: none; }
  .footer-social {
    display: flex; }
    .footer-social__item {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #2e2e2e;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: background .2s linear; }
      .footer-social__item:hover {
        background: #2d6cb9; }
      .footer-social__item + .footer-social__item {
        margin-left: 9px; }
    .footer-social__iccon {
      width: 20px;
      height: 20px;
      fill: #c1c1c1;
      transition: fill .2s linear; }
      .footer-social__iccon:hover {
        fill: #2e2e2e; }
  @media (max-width: 767px) {
    .footer__row {
      flex-direction: column; }
    .footer__contacts {
      margin-top: 35px; }
    .footer-form {
      margin-bottom: 20px; } }
  @media (max-width: 400px) {
    .footer {
      padding: 25px 0 25px; }
      .footer__nav {
        align-items: flex-start; } }
