@font-face {
    font-family: "Sansation_Regular";
    src: url("../fonts/Sansation_Regular.ttf");
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular.otf") format("otf");
}

@font-face {
    font-family: "NEOTERICc - Bold DEMO VERSION";
    src: url("../fonts/NEOTERICc - Bold DEMO VERSION.ttf");
}

@font-face {
    font-family: "HelveticaLTStd-LightCond";
    src: url("../fonts/HelveticaLTStd-LightCond.otf");
}
