@mixin MainFont(){
    font-family: "Sansation_Regular";
}
@mixin Myriad(){
    font-family: "MyriadProRegular";
}
@mixin Neoteric(){
    font-family: "NEOTERICc - Bold DEMO VERSION";
}
@mixin Helvetical(){
    font-family: "HelveticaLTStd-LightCond";
}

