.about{
    &__row{
        display: flex;
    }

    &__column{
        flex:0 1 50%;
    }
    &__block{
        height: 100%;
        position: relative;
    }
    &__img{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
    }
    
    &-content{
        flex:0 1 50%;
        width: 100%;
        max-width:600px;
        background: #fff;
        padding: 45px 70px 75px 75px;
        &__title{
            font-size: 24px;
            color:#252525;
            font-weight: normal;
            text-transform: uppercase;
            line-height: 20px;
            position: relative;
            margin-bottom: 45px;
            &:before{
                content: " ";
                display: block;
                width: 125px;
                height: 2px;
                background: #252525;
                position: absolute;
                top:34px;
                left:0;
            }
            &:after{
                content: " ";
                display: block;
                width: 440px;
                height: 1px;
                background: #252525;
                position: absolute;
                top:35px;
                left:0;
            }
        }
        &__text{
            font-size: 11px;
            color:#000000;
            @include Myriad();
            line-height: 16px;
            p{
                margin-bottom: 15px;
            }
        }
        &__btn{
            margin-top: 30px;
            .btn{
                display: inline-block;
                vertical-align: top;
                font-size: 10px;
                color:$main-color;
                text-transform: uppercase;
                text-align: center;
                @include Neoteric();
                padding:7px 27px;
                background: #05a0af;
                border-radius: 4px;
                transition: background .2s linear;

                &:hover{
                    background: #09af05;
                }
            }
        }
    }

    @media (max-width:1075px){
        &-content{
            &__title{
                &:after{
                    width: 390px;
                }
            }
        }
    }
    @media (max-width:$screen-md-max){
        &-content{
            &__title{
                &:after{
                    width: 350px;
                }
            }
            padding: 30px 50px 30px 35px;
        }
    }

    @media (max-width:805px){
        &-content{
            &__title{
                &:after{
                    width: 330px;
                }
            }
        }
    }

    @media (max-width:$screen-sm-max){
        &-content{
            padding: 40px 50px 30px 35px;;
        }
        &__row{
            flex-direction: column;
        }
        &__column{
            padding-bottom: 30%;
        }

        &__img{
            height: 229px;
        }
    }

    @media (max-width:720px){
        &-content{
            padding: 50px 50px 30px 35px;
        }
    }

    @media (max-width:660px){
        &-content{
            padding: 60px 50px 30px 35px;
        }
    }

    @media (max-width:618px){
        &-content{
            padding: 80px 50px 30px 35px;
        }
    }

    @media (max-width:550px){
        &-content{
            padding: 100px 50px 30px 35px;
        }
    }

    @media (max-width:480px){
        &-content{
            padding: 120px 50px 30px 35px;
        }
    }

    @media (max-width:480px){
        &-content{
            padding: 140px 50px 30px 35px;
        }
    }

    @media (max-width:370px){
        &-content{
            padding: 160px 50px 30px 35px;

            &__title{
                &:after{
                    width: 270px;
                }
            }
        }
    }
    
}